.userAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px 0 0 10px;
}

.btn {
    cursor: pointer;
    border-radius: 10px;
    background: darkgray;
}

.page {
    padding: 5px;
    border: teal 1px solid;
    border-radius: 5px;
    cursor: pointer;
    background-color: #87a9e7;
}
.selectedPage {
    font-weight: bold;
    border: #464d91 2px solid;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    background-color: #c9b08f;
}
.follow {
    margin-left: 5px;
}
.usersDescr {
    margin-left: 5px;
}
.usersName {
    color: #542d07;
    font-weight: bold;
    margin-left: 5px;
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem 0;
}
.pagination .text {
    opacity: 0.6;
    font-size: 1rem;
}
.disabled {
    background-color: transparent !important;
    cursor: not-allowed;
    opacity: 0.5;
    padding: 5px;
    border: teal 1px solid;
    border-radius: 5px;
}