.profileInfo {
    display: block;
}

.description {
padding: 10px;
}
.userPhoto {
    max-width: 150px;
}
.hidden {
    opacity: 0;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    line-height: 0;
    overflow: hidden;
}