.profileInfo {
    display: inline-block;
}
.name {
    font-size: 30px;
    font-weight: bold;
    font-family: "Bookman Old Style", sans-serif;
    color: indigo;
}
.description {
padding: 10px;
}
.userPhoto {
    max-width: 150px;
}
.hidden {
    opacity: 0;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    line-height: 0;
    overflow: hidden;
}
.btn {
    cursor: pointer;
    border: teal 1px solid;
    border-radius: 10px;
    background: #87a9e7;
}
.contactsEdit {
    display: flex;
}