.item {
    color: #490666;
    margin: 5px 10px;
}

.message {
    margin: 0 10px;
    font-family: "Lucida Calligraphy", sans-serif;
    font-weight: bold;
}

.likes {
    color: white;
}

.item img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.btn {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    margin-left: 20px;
    cursor: pointer;
}