.login {
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.button {
    cursor: pointer;
    border: 1px solid;
    border-radius: 10px;
    background: transparent;
    margin: 20px 15px;
    font-size: 16px;
    font-weight: bold;
}